<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<meta http-equiv="content-type" content="text/html; charset=UTF-8" data-sly-use.head="head.js" data-sly-use.headlibRenderer="headlibs.html" data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">-->

<!--<title>${properties.pageTitle ? properties.pageTitle : head.title}</title>-->

<!--<meta data-sly-call="${clientLib.css @ categories='bootcamp.dependencies'}" data-sly-unwrap></meta>-->
<!--<meta data-sly-call="${clientLib.css @ categories='bootcamp.all'}" data-sly-unwrap></meta>-->
<!--<sly data-sly-include="author.html" />-->

<!--&lt;!&ndash;<meta data-sly-include="footer-scripts.html"></meta>&ndash;&gt;-->

<!--<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
<!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" data-sly-use.head="head.js" data-sly-use.headlibRenderer="headlibs.html" data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}">

<title>${properties.pageTitle ? properties.pageTitle : head.title}</title>

<meta data-sly-call="${clientLib.css @ categories='bootcamp.dependencies'}" data-sly-unwrap></meta>
<meta data-sly-call="${clientLib.css @ categories='bootcamp.all'}" data-sly-unwrap></meta>
<sly data-sly-include="author.html" />

<!--<meta data-sly-include="footer-scripts.html"></meta>-->

<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
