<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            <div data-sly-resource="${ 'par' @ resourceType='foundation/components/parsys'}"></div>


            <hr>

            <sly data-sly-resource="${ @path='par-x', resourceType='foundation/components/parsys'}"></sly>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>